:root {
    --big-title-font-family: "Raleway", Helvetica;
    --big-title-font-weight: 900;
    --big-title-font-size: 36px;
    --big-title-letter-spacing: 0px;
    --big-title-line-height: normal;
    --big-title-font-style: normal;
    --small-text-font-family: "Inika", Helvetica;
    --small-text-font-weight: 400;
    --small-text-font-size: 14px;
    --small-text-letter-spacing: 0px;
    --small-text-line-height: normal;
    --small-text-font-style: normal;
    --topic-font-family: "Raleway", Helvetica;
    --topic-font-weight: 700;
    --topic-font-size: 20px;
    --topic-letter-spacing: 0px;
    --topic-line-height: normal;
    --topic-font-style: normal;
    --idk-font-family: "Raleway", Helvetica;
    --idk-font-weight: 700;
    --idk-font-size: 14.699999809265137px;
    --idk-letter-spacing: 0px;
    --idk-line-height: normal;
    --idk-font-style: normal;
    --collection-1-main: rgba(23, 59, 51, 1);
    --collection-1-secondary: rgba(242, 103, 75, 1);
    --collection-1-backmain: rgba(255, 255, 255, 1);
    --collection-1-backsec: rgba(246, 245, 243, 1);
    --collection-1-backthird: rgba(241, 224, 199, 1);
    --collection-1-backgroundaccent: rgba(189, 91, 64, 1);
    --collection-1-blue: rgba(57, 93, 153, 1);
    --collection-1-darkblue: rgba(8, 22, 69, 1);
}
